<td><%= model.id %></td>
<td><%- model.firstName %></td>
<td><%- model.lastName %></td>
<td>
    <a href="#/users/<%= model.id %>/read" class="btn btn-default">
        <i class="glyphicon glyphicon-user"></i>
        <span><%= globalization.users.list.buttons.look %></span>
    </a>

    <a href="#" class="btn btn-danger" data-user-id="<%= model.id %>">
        <i class="glyphicon glyphicon-trash"></i>
        <span><%= globalization.users.list.buttons.delete %></span>
    </a>
</td>