<h1><%= globalization.users.read.title %></h1>

<div class="jumbotron">
    <address>
        <strong><%- model.lastName %> <%- model.firstName %></strong><br>
        <abbr title="age"><%= globalization.users.read.labels.age %>:</abbr> <%- model.age %>
    </address>
</div>

<hr />

<a href="#/users" class="btn btn-default">
    <i class="glyphicon glyphicon-arrow-left"></i>
    <span><%= globalization.users.read.buttons.back %></span>
</a>

<a href="#/users/<%= model.id %>" class="btn btn-primary">
    <i class="glyphicon glyphicon-edit glyphicon-white"></i>
    <span><%= globalization.users.read.buttons.edit %></span>
</a>