@charset "UTF-8";

.row {
  margin: 0px 0px 0px 0px;
}

// Our rules !
.hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

span.help-inline.only {
  line-height: 30px;
}
